<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar color="light">
    <ion-segment [(ngModel)]="activeSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="users">
        <ion-label>Users</ion-label>
      </ion-segment-button>
      <ion-segment-button value="news">
        <ion-label>News</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="user-info" *ngIf="userEmail">
    <ion-text color="medium">
      <small>Logged in as {{ userEmail }}</small>
    </ion-text>
  </div>

  <router-outlet></router-outlet>
</ion-content>
