<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/app/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="devices" href="/app/devices">
      <ion-icon name="hardware-chip"></ion-icon>
      <ion-label>Perangkat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/app/map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Peta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/app/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>