<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo-container">
    <img src="assets/icon/logo.png" alt="Logo" class="logo">
  </div>

  <form [formGroup]="credentials" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Nama Lengkap</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Kata Sandi</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-note class="ion-text-center" color="medium">Minimal 6 karakter</ion-note>

    <ion-button 
      expand="block" 
      type="submit" 
      class="ion-margin-top"
      [disabled]="!credentials.valid">
      Daftar
    </ion-button>
  </form>

  <div class="login-link">
    <p>Sudah punya akun? <a routerLink="/login">Masuk disini</a></p>
  </div>
</ion-content>
